.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  height: 100vh;
  width:auto;
  background-position:center;
  background-repeat:no-repeat;
}

